/* Key scaffolding
-------------------------------------------------- */

body {
    padding-top: 54px;
    position: relative; /* For scrollyspy */
    /* We add the padding to the body for >768px only */
}

/*    */
.ptats-body > .container,
.ptats-footer .container {
    padding-left:    15px;
    padding-right: 15px;
}



/* Sections
-------------------------------------------------- */

/* Padding for in-page bookmarks */
section {
    padding-top: 30px;
}

/* Few stylistic typography tweaks */
section > .page-header,
section > .lead {
    color: #5a5a5a;
}
section > ul li {
    margin-bottom: 5px;
}



/* Navbar
-------------------------------------------------- */

.ptats-navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc; /* IE8 */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.ptats-navbar .nav > .active > a,
.ptats-navbar .nav > .active > a:hover {
    font-weight: 500;
    background-color: transparent;
}



/* Jumbotron
-------------------------------------------------- */

/* Base class */
.ptats-jumbotron {
    position: relative;
    margin-bottom: 20px;
    padding: 30px 15px;
    color: #fff;
    text-align: center;
    background-color: #006C80;
}
.ptats-jumbotron h1 {
    font-size: 50px;
}

/* Link ptats (used on .masthead-links as well) */
.ptats-jumbotron a {
    color: #fff;
    color: rgba(255,255,255,.5);
    -webkit-transition: all .2s ease-in-out;
         -moz-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
}
.ptats-jumbotron a:hover {
    color: #fff;
}

/* Download button */
.ptats-jumbotron .btn {
    padding: 18px 24px;
    font-size: 21px;
    color: #006C80; /* redeclare to override the `.jumbotron a` */
    background-color: #fff;
}
.ptats-jumbotron .btn,
.ptats-jumbotron .btn:hover,
.ptats-jumbotron .btn:active {
    color: #006C80; /* redeclare to override the `.jumbotron a` */
    background-color: #fff;
    border-color: #fff;
}

/* Masthead (docs home)
------------------------- */

.masthead {
    color: #fff;
    background-color: #006C80;
}

.masthead h1 {
    line-height: 1;
}

.masthead .lead {
    margin-left: .5%;
    margin-right: 0;
}

/* Textual links in masthead */
.masthead-links {
    margin: 20px 0;
    list-style: none;
}
.masthead-links li {
    display: inline;
    padding: 0 10px;
    color: rgba(255,255,255,.25);
}



/* Marketing section of Overview
-------------------------------------------------- */

.ptats-marketing {
    text-align: center;
    color: #5a5a5a;
}
.ptats-marketing h1 {
    margin: 60px 0 10px;
    font-size: 50px;
    line-height: 1;
}
.ptats-marketing h2 {
    margin-bottom: 5px;
}
.ptats-marketing p {
    font-size: 16px;
    line-height: 1.4;
}
.ptats-marketing .marketing-byline {
    margin-bottom: 40px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.25;
    color: #999;
}
.marketing-img {
    display: block;
    margin: 30px auto 10px;
    max-height: 145px;
}



/* Special grid ptats
-------------------------------------------------- */

.show-grid {
    margin-bottom: 15px;
}
.show-grid [class^="span"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
}
.show-grid [class*="span"]:hover {
    background-color: #ddd;
}



/* Sidenav
-------------------------------------------------- */

/* Base ptats are not affixable given mobile-first */
.ptats-sidenav {
    margin: 20px 0 0;
    -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
                    box-sizing: border-box;
}
.ptats-sidenav.affix {
    position: static;
    top: 0;
}

/* Chevrons within each link */
.ptats-sidenav .glyphicon-chevron-right {
    float: right;
    margin-top: 1px;
    margin-right: -6px;
    opacity: .25;
    color: #000;
}
.ptats-sidenav a:hover .glyphicon-chevron-right {
    opacity: .5;
}
.ptats-sidenav .active .glyphicon-chevron-right,
.ptats-sidenav .active a:hover .glyphicon-chevron-right {
    color: #fff;
    opacity: 1;
}


/* Responsive stuff
-------------------------------------------------- */

/* Related: responsive utilities tables */
.table code {
    font-size: 13px;
    font-weight: normal;
}


/* Footer
-------------------------------------------------- */

.ptats-footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 100px;
    border-top: 1px solid #e5e5e5;
}
.ptats-footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}

/* Social proof buttons from GitHub & Twitter */
.ptats-social {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
/* Quick links on Home */
.ptats-social-buttons {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    list-style: none;
}
.ptats-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
}
.ptats-social-buttons .twitter-follow-button {
    width: 225px !important;
}
.ptats-social-buttons .twitter-share-button {
    width: 98px !important;
}



/* Misc pet tattoos stuff
-------------------------------------------------- */

input.focused {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
             box-shadow: 0 0 8px rgba(82,168,236,.6);
}

/* Scrollspy on fixed height div */
.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
.highlight pre {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}
.highlight pre code {
    font-size: inherit;
    color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
    display: inline-block;
    width: 18px;
    padding-right: 5px;
    margin-right: 10px;
    text-align: right;
    color: #bebec5;
}



/* Docs gallery
-------------------------------------------------- */

.ptats-gallery .thumbnail {
    max-width: 400px;
    margin: 0 auto 20px;
}


/* Responsive variations
-------------------------------------------------- */

/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
    .ptats-example {
        border-radius: 4px;
    }
    .highlight {
        display: none;
    }
}

/* Tablets and up */
@media screen and (min-width: 768px) {

    /* Account for fixed navbar (which is static to start) */
    body {
        padding-top: 50px; /* Default height of navbar */
    }

    /* Tweak display of docs jumbotrons */
    .masthead {
        padding-top:        100px;
        padding-bottom: 100px;
    }
    .masthead h1 {
        font-size: 100px;
    }
    .masthead p {
        font-size: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .subhead {
        padding-top:        60px;
        padding-bottom: 60px;
        text-align: left;
    }

    /* From here, start to affix the nav because we keep columns here */
    .ptats-sidenav.affix {
        position: fixed;
        top: 54px;
    }
    .ptats-sidenav {
        width: 170px;
    }
    .ptats-sidenav.affix-bottom {
        position: absolute;
        top: auto;
        bottom: 270px;
    }
}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {
    .ptats-sidenav {
        width: 220px;
    }
}

/* Large desktops and up */
@media screen and (min-width: 1200px) {
    .ptats-sidenav {
        width: 260px;
    }
}



/* Disable rounded corners
-------------------------------------------------- */

.no-rounded-corners {
    border-radius: 0;
}



/* Email form
-------------------------------------------------- */

.email label {
    margin-top: 10px;
}

.email button {
    margin-top: 10px;
}
